header {
    padding: 1em;
    text-align: center;
    color:#F5F5F5;
    background-color:#170C31;
    border-radius: 25px;
    font-size: 25px;
  }

  header img {
    float: right;
    width: 200px;
}
  h2{
    font-size:25px;
    border-bottom: 3px solid #170C31;
  }

footer {
    padding: 2em;
    color: #F5F5F5;
    background-color:#170C31;
    border-radius: 25px;
}