header {
    padding: 1em;
    text-align: center;
    color:#F5F5F5;
    background-color:#170C31;
    border-radius: 25px;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
  }

  img {
    width: 125px;
    height: 150px;
    position: absolute;
    top: 30px;
    right: 30px;
    border-radius: 25px;
}

}
  h2{
    font-size:25px;
    border-bottom: 3px solid #170C31;
  }

footer {
    padding: 2em;
    color: #F5F5F5;
    background-color:#170C31;
    border-radius: 25px;
}