header {
  padding: 1em;
  text-align: center;
  color: #f5f5f5;
  background-color: #170c31;
  border-radius: 25px;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}

header,
main,
footer {
  max-width: 800px;
}

img {
  width: 125px;
  height: 150px;
  position: absolute;
  top: 30px;
  right: 30px;
  border-radius: 25px;
}

h2 {
  font-size: 25px;
  border-bottom: 3px solid #170c31;
}

footer {
  padding: 2em;
  color: #f5f5f5;
  background-color: #170c31;
  border-radius: 25px;
  text-align: center;
}

.byuilink {
  color: #f5f5f5;
}
