@media only screen and (min-width: 75em) {

    ul.navigation {
    padding-left: 12rem;
    padding-right: 12rem;
}
#pinfo {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
}
 #current {
     grid-column: 1 / 2;
     min-width: 380px;
 }
 #fun {
    grid-column: 2 / 3;
    min-width: 380px;
 }
 #history {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    min-width: 380px;
 }

#current img{
     width: 370px;
}

#fun img{
    width: 370px;
}
.food {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 80%;
    margin: auto;
}
.food p {
    font-size: .9em;
}
#map iframe {
    width: 600px; 
    height: 450px;
}
#contactmap {
    width: 70%;
}
.sechd {
    width: 60%;
}
#ctinfo {
    font-size: 1.5rem;
}

}