@media only screen and (min-width: 35em) {
    header{
        font-size: 1.2rem;
    }
    ul.navigation {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .navigation {
        display: flex;
    }
    
    .navigation li:first-child {
        display:none;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    nav ul {
        text-align: center;
        list-style-type: none;
    }
    #pinfo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: .5em;
    }
 #current {
     grid-column: 1 / 2;
     grid-row: 1 / 2;
     min-width: 275px;
 }
 #current img{
      width: 250px;
 }
 #fun {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    min-width: 275px;
 }
 #fun img{
     width: 250px;
 }
 #history {
     grid-column: 1 / 3;
     grid-row: 2 / 3;
 }
 #history img{
     width: 370px;
 }
#weekly ul {
    text-align: center;
    font-size: 1.2em;
    list-style: none;
}
.food {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 90%;
    margin: auto;
}
.food section{
    min-width: 240px;
}
.food p {
    font-size: .7rem;
}

.foodlist section{
    border-radius: 8px;
    width: 85%;
    padding: .3em;
    border: solid 2px #3E517A;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 5px 5px 10px #3E517A;
}
.buttons {
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 6px;
}
button:active {
    background-color: #F6AE2D;
}


}
