@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body p {
    font-family: "Open Sans";
    color: #3E517A;
}
header {
    color:#3E517A;
}
header h1 {
    font-family: Anton, Impact;
    text-align: center;
    border-bottom: 2px solid #3E517A;
    margin-top: 5px;
    margin-bottom: 0px;
}
nav {
    margin: 0;
}
nav a {
    color: white;
    
}
header img {
    width: 100%;
    margin-bottom:-4px;
}
.navigation li:first-child {
    display: block;
}
.navigation li {
    display: none;
}
.responsive li {
    display: block;
}
.navigation {
    background-color: #3E517A;
    margin: 0px;
}
nav ul li a {
    text-decoration: none;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}
ul {
    padding-inline-start: 10px;
}
nav a:hover {
	background-color: #0FFF95;
}
nav .active {
    background-color: #F6AE2D;
    color: white;
}
#history, #current, #fun {
    width: 75%;
    margin: auto;
    margin-top: 7px;
    margin-bottom:7px;
    border: solid 2px #86BBD8;
    padding: .3em;
    border-radius: 8px;
    text-align: center;
}
#current img {
    border-radius: 8px;
    width: 316px;
    height: 200px;
}
#fun img {
    border-radius: 8px;
    width: 316px;
    height: 169px;
}
#history img {
    border-radius: 8px;
    height: 178px;
    width: 316px;
}
h2 {
    font-family: Anton, Impact;
    text-align: left;
    color: #3E517A
}

