@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body p {
    font-family: "Open Sans";
    color: #3E517A;
}
header {
    color:#3E517A;
}
header h1 {
    font-family: Anton, Impact;
    text-align: center;
    border-bottom: 2px solid #3E517A;
    margin-top: 5px;
    margin-bottom: 0px;
}
nav {
    margin: 0;
}
nav a {
    color: white;
    
}
header img {
    width: 100%;
    margin-bottom:-4px;
}
.navigation li:first-child {
    display: block;
}
.navigation li {
    display: none;
}
.responsive li {
    display: block;
}
.navigation {
    background-color: #3E517A;
    margin: 0px;
}
nav ul li a {
    text-decoration: none;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}
ul {
    padding-inline-start: 10px;
}
nav a:hover {
	background-color: #0FFF95;
    border: solid 2px white;
    color: black;
}
nav .active {
    background-color: #F6AE2D;
    color: white;
    border: solid 2px #86BBD8
}
#history, #current, #fun {
    width: 90%;
    margin: auto;
    margin-top: 7px;
    margin-bottom:12px;
    border: solid 2px #86BBD8;
    padding: .3em;
    border-radius: 8px;
    text-align: center;
    box-shadow: 5px 5px 10px #3E517A;
}
#current img {
    border-radius: 8px;
    width: 316px;
    height: 200px;
}
#fun img {
    border-radius: 8px;
    width: 316px;
    height: 169px;
}
#history img {
    border-radius: 8px;
    height: 178px;
    width: 316px;
}
h2 {
    font-family: Anton, Impact;
    text-align: left;
    color: #3E517A
}
#weekly {
    border-radius: 8px;
    width: 90%;
    background-color:#86BBD8;
    border: solid 2px #3E517A;
    margin: auto;
    box-shadow: 5px 5px 10px #3E517A;
    padding: .3em;
    color: black;
    margin-bottom:12px;
}
#weekly h2 {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
}
#weekly ul {
    list-style-type: square;
    padding: 1em;
}
footer {
    background-color:#3E517A;
    padding:10px;
    border-top: 2px solid #3E517A;
}
footer p {
    color: white;
    margin-left: 5%;
    display: inline;
}
footer a {
    color: white;
    display: inline;
    float: right;
    font-family: "Open Sans";
}
.food section{
    border-radius: 8px;
    width: 85%;
    padding: .3em;
    border: solid 2px #3E517A;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 5px 5px 10px #3E517A;
}
.food section img {
    width: 200px;
    height: 150px;
}
.buttons {
    display:none;
}