@media only screen and (min-width: 35em) {
    h1 {
        color: green;
    }
    header img {
        width: 75px;
        height: 75px;
        padding-top: 10px;
    }
    .navigation {
        display: flex;
    }
    
    .navigation li:first-child {
        display:none;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    nav ul {
        padding-left: 25px;
        padding-right: 25px;
    }
    main {
        margin: 20px;
    }
 
    .herodiv {
        margin: auto; 
    }

    .herodiv img {
        max-width: 70%;
    }
    .herodiv section {
        top: 10%;
        right: 18%;
        padding: .6rem;
        font-size: .75rem; 
         
    }
    .forecast {
        display: block;
        padding: 20px;
        background-color: #85D0FF;
        margin: 10px auto;
        border: 2px solid #B6B7B9;
        max-width: 68%;
    }
    .fivedays {
        display: flex;
        align-content: center;
        padding-left: 0px;
    }
 
    .fivedays img { 
        max-width: 4rem;
        align-content: center;
    }
    .fivedays li {
        list-style-type: none;
        margin: auto;
    }
    .fivedays h3 {
        text-align: center;
    }
    .fivedays {
        text-align: center;
    }
  
    
    footer {
        margin: 40px;
        border: 2px solid #B6B7B9;
    }
    .article p {
        font-size: 1rem;
    }
    .article img {
        float:right;
        max-height: 200px;
    }
    .contact {
        display: grid;
        text-align: center;
        flex-basis: 100%;
    }
    #idmap {
        display: block;
    }
    #idmap img {
        max-width: 100%;
    }
    
    }