@media only screen and (min-width: 75em) {

    main {
		grid-template-columns: 1fr 1fr 1fr;
        max-width: 1200px;
	}

  div {
    background-color: #E1E1E1;
 }
   header { 
     background-color: #4B9CD3;
     max-width: 1200px;
 } 
   footer {
    background-color: #4B9CD3;
    max-width: 1200px; 
   }
}