@media only screen and (min-width: 75em) {
    h1 {
        color: blue;
    }

    .herodiv img {
        max-width: 70%;
    }

    .herodiv section {
        padding: 35px;
        font-size: 1.2em; 
    }
    .fivedays img { 
        max-width: 8rem;
    }
    .article img {
        float:right;
        max-height: 150px;
    }
    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;   
        gap: 15px;
    }

  }