main {
    display: grid;
    grid-template-columns: 1fr;
}

article {
    border: 1px solid #bbb;
	padding: 1rem;
	background-color: #E5D5C7;
    color: #3B322C;
}

header,
footer {
	background-color: #605770;
	color: white;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

header,
main,
nav,
footer {
	max-width: 767px;
	margin: 0 auto;
}

nav {
	background-color: #3B322C;
	text-align: center;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 0.2rem;
	text-decoration: none;
	font-size: 1rem;
}

p{
    color: #3B322C;
}
table, td, th {
	border: 1px solid #3B322C;
}  
  table {
	width: 100%;
	border-collapse: collapse;
  }
.active {
	color: orange;
}
nav a:hover {
	background-color: #bbb;
	color: #36454f;
}
img {
	max-width: 250px;
}